@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.navdiv{
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color:#F3878D;
  border: 2px solid#DAEDF1;
} 
.navbar, .profile{
  /* position: relative; */
  margin: 0 15%;
  /* text-align: right; */
  /* top: 20%;
  transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  padding: 20%;
  justify-content: space-evenly;
}

.main{
  position: relative;
  width: 80%;
  float: right;
  height: 100vh;
  /* padding: 50px; */

}
.navbar .budget-label{
  padding: 1%;
  font-size: xx-large;
}
.btn{
  margin-top:20px;
  background-color: #DAEDF1;
  border: 3px solid #09648E;
  color: #09648E;
  font-weight: bolder;
  height: 40px;
  width: 100px;
  padding: 2%;
}
.btn:hover{
  color: #F3878D;
  border: #F3878D;
}

.profile .budget-label{
  /* position: fixed;
  left: 0; */
  padding-right: 1%;
  font-size: xx-large;

}
.profile label{
  align-self: center;
}
.user{
  padding: 50%;
}
.budget-label{
  font-family: 'Pacifico', cursive;
  font-weight: 500;
}
/* //////////////////// */

.header{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10%;
}

.container {
  display: flex;
  /* justify-content: space-evenly;  */
  align-items: flex-start;
} 
.select{
  width: 200px;
}
.form{
  width: 150px;
}
.expenses{
  color: red;
  width: 35%;
  background-color: #EDE7F6;
  /* margin: 10px; */
}

.income{
  color:blue;
  width: 35%;
  background-color: #EDE7F6;
  margin-right: 10%;
  /* text-align: left; */
  /* margin: 10px; */
}

.footer{
  padding-right: 5%;
  position: fixed;
  bottom: 0;
}