@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {#83BCF1
    transform: rotate(360deg);
  }
} */ 
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  border: 2px solid #F5CEAB;

 
}
.navdiv{
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color:#F5CEAB;
  border: 2px solid #F5CEAB;
} 
.navbar, .profile{
  /* position: relative; */
  margin: 0 10%;
  /* text-align: right; */
  /* top: 20%;
  transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  padding: 20%;
  justify-content: space-evenly;
}

.main{
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
  /* padding: 50px; */
}
.navbar .budget-label{
  padding: 2%;
  font-size: xx-large;
}
.btn{
  margin-top:20px;
  background-color: #F1B883;
  border: 3px solid white;
  color: white;
  font-weight: bolder;
  height: 40px;
  width: 100px;
  padding: 2%;
}
.btn:hover{
  color: #83BCF1;
  border:3px solid #83BCF1;
}

.profile .budget-label{
  /* position: fixed;
  left: 0; */
  padding-right: 1%;
  font-size: xx-large;

}
.profile label{
  align-self: center;
}
.user{
  padding: 50%;
}
.budget-label{
  font-family: 'Pacifico', cursive;
  font-weight: 500;
}
/* //////////////////// */

.header{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 2%;
}
h1{
  margin: 1%;
}
.container {
  display: flex;
  /* justify-content: space-evenly;  */
  align-items: flex-start;
} 
.select{
  width: 200px;
}
.form{
  width: 150px;
}
.expenses, .income{
  /* color: red; */
  width: 35%;
  margin-right: 10%;
  justify-self: center;
  padding: 2%;

}


.input{
  border: solid #F1B883 3px;
  background-color: #83BCF1;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
  flex-wrap: wrap;
  /* padding: 2%; */
  margin: 2%;
  /* width: 100px; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;

}
.input-btn{
  display: none;

}
.input, p{
  margin: 10%;
}
.input:hover .input-btn{
  display: flex;
}
.empty{
  width: 100%;
  height: 1%;
  padding: 0;
  margin:0
}
.income-total, .expense-total, .previous-month, .current-budget{
  display: flex;
  justify-content:center;
  /* position: absolute; */
  padding: 2%;
  border-bottom:#F5CEAB solid 1px;
}
.total{
  margin-left: 10px;
}
input{
  width: 200px;
  height: 30px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.button{
  padding: 5%;
  margin-left: 10%;
  width: 40%;
}
.footer{
  position: fixed; 
  bottom: 0; 
  float: right;
}